@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Cabin:ital@1&family=Kumbh+Sans:wght@400;700&family=Montserrat:wght@200;300;600&family=Nunito&family=Poppins:wght@200;400&family=Cabin+Sketch:wght@400;700&family=Roboto:wght@100;300&family=Russo+One&family=Space+Mono:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

:root {
  --primary: #fb524f;
  /* --secondary: #73777b; */
  --secondary: #716f81;
  --font-family: "Cabin Sketch", "Poppins", "sans-serif";

  --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100%;
}

main {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background: white;
  min-height: 100vh;
  width: 100%;
}

span {
  color: var(--primary);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* ---------Navbar Section Starts---------------- */

.nav-wrapper {
  padding: 0.8rem 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  /* background: rgba(255, 255, 255, 0.25); */
  /* box-shadow: var(--box-shadow); */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  /* backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.nav-header svg {
  color: var(--primary);
}

.nav-header span {
  color: var(--secondary);
}
.nav-header svg,
span {
  font-size: 1.5rem;
}

.nav-menu svg {
  transform: scale(1.7);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.nav-links {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
}

.nav-links li a {
  color: var(--secondary);
  margin-right: 1rem;
}

ul.navlinks.active {
  color: var(--primary);
}

.nav-links li a:hover,
.nav-links li a:active {
  color: var(--primary);
  transform: scale3d(1.2);
  transition: transform 0.3s ease;
}

.sliding-menu {
  display: flex;
  gap: 1rem;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  padding: 1rem;
  width: 80%;
  height: 100%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-image: url("./images/home-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  transform: translateX(100%);
  transition: all 0.2s ease;
}

.sliding-menu.open {
  transform: translateX(0);
}

.sliding-menu svg {
  width: auto;
  height: 40px;
  align-self: start;
  color: var(--secondary-color);
  margin: 0.2rem 1rem 1rem 2rem;
  cursor: pointer;
}

.sliding-menu-navlinks {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  cursor: pointer;
}

.sliding-menu-navlinks li:hover {
  transition: all 0.3s ease;
  transform: translateX(20px);
  cursor: pointer;
}

.sliding-menu-navlinks li {
  width: 100%;
  margin: 0.5rem;
  padding: 1rem;
  box-shadow: var(--box-shadow);
  border-left: 5px solid var(--primary);
  background-color: white;
}

.sliding-menu-navlinks li a {
  color: var(--secondary);
  width: 100%;
}

/* ---------Navbar Section Ends---------------- */

/* ----------------Home Section Starts--------------------- */
.home {
  margin-top: 3.5rem;
}
.home-wrapper {
  display: flex;
  align-items: center;
  background-image: url("./images/home-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 1rem 2rem;
  gap: 2rem;
}

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  gap: 0.5rem;
  height: 30%;
  padding: 0.5rem;
  margin-bottom: 3rem;
}

.left-section h2 {
  font-size: 2.3rem;
}

.left-section p {
  overflow-wrap: break-word;
  font-size: 1rem;
  color: var(--secondary);
  white-space: wrap;
  width: 80%;
  text-align: left;
}

.right-section {
  flex: 0 0 40%;
  padding-bottom: 2rem;
}

button.btn {
  position: relative;
  padding: 0.5rem 0.8rem;
  width: 9rem;
  border-radius: 5px;
  border: 2px solid var(--primary);
  color: var(--primary);
  font-size: 0.9rem;
  font-weight: 500;
  font-family: var(--font-family);
  background: transparent;
  cursor: pointer;
  z-index: 1;
  transition: all 500ms ease-in-out;
}

.btn:hover {
  color: white;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  transition: all 400ms ease-in-out;
  z-index: -10000;
}
.btn::before {
  left: unset;
  right: 0;
  width: 0;
}
.btn:hover::before {
  right: unset;
  left: 0;
  width: 100%;
}

.home-img {
  width: 100%;
  animation: anime 1s infinite ease-in-out alternate;
}

@keyframes anime {
  0% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/* ----------------Home Section Ends--------------------- */

/* ----------Special Section Starts---------------- */

.special-wrapper {
  padding-top: 5rem;
  background-color: white;
  min-height: 100vh;
  margin: 0rem 4rem;
}

.special-wrapper h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}
.special-wrapper span {
  color: var(--primary);
  font-size: 1.8rem;
}

.special-foods {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0rem auto;
}

.special-food {
  box-sizing: border-box;
  position: relative;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 0.8rem 1rem;
  cursor: pointer;
  margin: 0.5rem;
  border-radius: 5px;
  flex: 1 1 30%;
  height: 340px;
  min-width: 320px;
  overflow: hidden;
}

.content {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

article.special-food:hover .overlay-image {
  top: 0;
  height: 100%;
  object-fit: cover;
}

.overlay-image {
  height: 100%;
  width: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  transition: top 0.3s ease-in;
}

.special-food p {
  color: var(--secondary);
  text-align: center;
  font-size: 0.9rem;
}

/* ----------Special Section Ends---------------- */

/* ---------Popular Section Starts---------------- */
.popular-wrapper {
  padding-top: 5rem;
  background-color: white;
  min-height: 100vh;
  width: 82%;
  margin: 0rem auto;
}

.popular h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.popular-title span {
  color: var(--primary);
  font-size: 1.8rem;
}

.popular-foods {
  display: flex;
  flex-wrap: wrap;
  margin: 0rem auto;
}

article.popular-food {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  background-color: white;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  flex: 1 1 30%;
  min-width: 320px;
}

article.popular-food:hover {
  box-shadow: var(--box-shadow);
}

.popular-img-container {
  height: 100%;
  width: auto;
}

.popular button {
  margin-top: 1.3rem;
  transform: scale(0.9);
  font-weight: 500;
  font-size: 1.1rem;
}

img.p-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.popular-food h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.additional-info {
  margin-top: 0.5rem 0rem;
  display: flex;
  gap: 0.5rem;
  font-size: 1rem;
}

.additional-info svg {
  margin-right: 0.3rem;
}

.clock svg {
  color: #6c9dff;
}

.star svg {
  color: gold;
}

.fire svg {
  color: #fb524f;
}

.clock,
.star,
.fire {
  display: flex;
}

/* ----------Popular Section Ends---------------- */

/* ------How it works starts here--------- */

.how-it-works {
  min-height: 60vh;
  padding-top: 5rem;
}

.hiw-wrapper {
  margin: 1rem auto;
}

.hiw-wrapper span {
  font-size: 1.8rem;
}

.hiw-title {
  text-align: center;
  padding-bottom: 3rem;
  font-size: 1.8rem;
}

.order-steps {
  display: flex;
  padding: 0.2rem;
  width: 100%;
}

.step-1,
.step-2,
.step-3,
.step-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 5px;
  align-self: stretch;
  padding: 1rem;
  /* background-color: white; */
  /* box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.2); */
}

.order-steps img {
  border-radius: 50%;
  border: 10px solid white;
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 0.5rem;
}

.order-steps p {
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
}

.order-guide {
  margin-top: 2rem;
  position: relative;
}

.order-guide p {
  display: block;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: var(--primary);
  color: white;
  font-size: 2rem;
  border: 5px solid white;
  box-shadow: var(--box-shadow);
}

/* ------How it works ends here--------- */

/* ------Gallery section starts here--------- */

.gallery {
  padding: 1rem;
  min-height: 100vh;
  width: 100%;
  margin: 0rem auto;
}

.gallery h2 {
  margin-bottom: 1rem;
}

.gallery-images {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.gallery-images img {
  border-radius: 5px;
  height: auto;
  width: 500px;
  object-fit: contain;
  margin: 1rem;
  padding: 10px;
  box-shadow: var(--box-shadow);
}

.gallery span {
  font-size: 1.8rem;
}

.gallery-title {
  padding-top: 4rem;
  text-align: center;
  font-size: 1.8rem;
}

/* ------Gallery section ends here--------- */

/* --------customer review starts here--- */

#review {
  padding-top: 5rem;
  min-height: 100vh;
  width: 98%;
  margin: 0rem auto;
}

.review h2 {
  text-align: center;
  padding-bottom: 4rem;
  font-size: 1.8rem;
}

.review-title span {
  font-size: 1.8rem;
}

.testimonials {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

article.testimony {
  text-align: center;
  padding: 1rem;
  border: 0.3rem solid #fff;
  border-radius: 5px;
  flex: 1 1 30%;
  background-color: #333;
  margin: 3.5rem auto;
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.3);
  min-width: 450px;
}

.testimony img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border: 0.5rem solid #fff;
  margin-top: -8rem;
  object-fit: cover;
}

article.testimony h3 {
  font-size: 1.2rem;
  color: #eee;
  padding: 0.5rem 0;
}

.customer-ratings span {
  font-size: 1rem;
  color: var(--primary);
  padding: 0.1rem 0;
}

p.customer-feedback {
  font-size: 1.2rem;
  color: #eee;
  padding: 1rem 0;
}

h2.heading {
  text-align: center;
  margin: 5rem auto;
}

.quote {
  font-size: 2rem;
  margin: 0 5px;
}

/* --------customer review ends here--- */

/* -----Login section starts here-------- */

#contact {
  min-height: 50vh;
  width: 98%;
  margin: 0 auto;
  height: auto;
  padding-top: 3rem;
}

.contact h2 {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.8rem;
}

.contact span {
  font-size: 1.8rem;
}

.row {
  display: grid;
  grid-template-columns: 28rem 1fr;
  gap: 1rem;
  background: white;
  border: 0.5rem solid #fff;
  width: 100%;
  margin: 2rem auto;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.image-container img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-form {
  display: grid;
  height: 100%;
  padding: 0.5rem;
}

.input-box {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

input {
  border-radius: 5px;
  border: 2px solid var(--secondary);
  width: 100%;
  height: 3rem;
  flex: 1 1 40%;
  text-align: left;
  padding: 1rem 0.8rem;
}

input::placeholder,
textarea::placeholder {
  font-size: 0.8rem;
  font-family: var(--font-family);
}

input:focus,
textarea:focus {
  border: 2px solid var(--primary);
}

.text-area {
  padding: 1rem 0.8rem;
  border-radius: 10px;
  border: 2px solid var(--secondary);
  resize: none;
  font-size: 1rem;
}

.contact button {
  margin-top: 0.6rem;
  padding: 0.01rem 0.7rem;
  width: 10rem;
  border-radius: 5px;
  border: 2px solid var(--primary);
  color: var(--primary);
  font-size: 0.9rem;
  font-weight: 500;
  font-family: var(--font-family);
  background: transparent;
  cursor: pointer;
  z-index: 1;
  transition: all 500ms ease-in-out;
}

/* -----Login section ends here-------- */

/* -----Footer Starts Here------ */
#footer {
  padding: 0.5rem;
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.footer-wrapper {
  background-color: black;
  border-radius: 5px;
  padding: 2rem;
}

.social-links {
  text-align: center;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.social-links a {
  color: white;
  transform: scale(1.5);
  margin: 0rem 1rem;
}

.social-links a:hover {
  transform: scale(2);
  transition: transform 0.5 ease;
}

.copyright {
  text-align: center;
  margin-top: 1rem;
}

.copyright span.bold {
  color: white;
}

/* -----Footer Ends Here------ */

/* --------Loader--------------- */
.loader {
  position: fixed;
  top: 0;
  z-index: 10000;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

/* ---------Media Query-------------- */

@media only screen and (min-width: 950px) {
  html,
  body {
    font-size: 1.3rem;
  }
  .sliding-menu {
    display: none;
  }
}

@media only screen and (max-width: 950px) {
  html,
  body {
    font-size: 1.2rem;
  }
  /* --------Navbar--------- */

  .nav-menu svg {
    display: block;
  }

  .nav-links {
    display: none;
  }

  /* -
  }---home section--------*/

  .home-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 2rem;
    width: 100%;
    margin: 0 auto;
    background-size: cover;
  }

  /* --------special section---------- */

  .special-wrapper {
    padding: 0;
    margin: 0;
  }

  .special-wrapper h2 {
    padding-top: 1rem;
  }

  .special-foods {
    display: flex;
  }

  .special-food {
    margin-bottom: 1rem 0rem;
  }

  /* -----popular section--------- */
  .popular-wrapper {
    width: 100%;
  }

  .popular-foods {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .popular-title {
    text-align: center;
    margin-bottom: 1rem;
  }

  /* -------Order section------------ */
  .order-steps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  /* ----food gallery-------- */

  .gallery-images {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gallery-img img {
    height: 100%;
    width: 100%;
  }
  /* ---------testimonial-------------- */

  /* .review .testimonials .testimony:first-child {
    grid-column: 1/3;
  }
  .review .testimonials .testimony:nth-child(2) {
    grid-column: 1/3;
  }
  .review .testimonials .testimony:last-child {
    grid-column: 1/3;
  } */

  .row {
    display: flex;
    flex-direction: column;
  }

  .login-form {
    display: flex;
    flex-direction: column;
  }

  .login-form button {
    width: 100%;
    padding: 0.5rem;
    margin-left: 0.3rem;
  }

  .login-form .input-box {
    display: block;
  }

  .login-form textarea.text-area {
    display: block;
    width: 100%;
    margin-left: 0.3rem;
    margin-top: 0.3rem;
  }

  .login-form .input-box input,
  .login-form .input-box .text-area {
    margin: 0.3rem;
  }

  .social-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
  }

  p.copyright {
    transform: scale(0.6);
  }
}

@media only screen and (max-width: 1300px) {
  .row {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .input-box input {
    margin: 0.5rem;
  }

  .login-form textarea {
    margin-top: 0.3rem;
    margin-left: 0.4rem;
  }

  .login-form button {
    width: 99.5%;
    margin-top: 0.5rem;
    margin-left: 0.4rem;
    padding: 0.5rem 0.8rem;
  }
}

@media only screen and (max-width: 570px) {
  html,
  body {
    font-size: 1.1rem;
  }
  .special-foods {
    display: block;
  }

  .popular-foods {
    display: grid;
    grid-template-columns: 1fr;
  }

  .order-steps {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .testimony {
    transform: scale(0.8);
  }

  .gallery-images {
    display: block;
    margin: 0rem auto;
    width: 100%;
  }

  .gallery img {
    margin: 0;
    padding: 0.5rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
